/*
Author: Zohurul
Author URL: https://www.zohirs.com/
Email: zohurul01@gmail.com
*/
/* ============ 
File: Main Css File
===============*/
/* Google Fonts Import */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");
/*
Root Prefix
*/

:root {
  /* Color */
  --uz-main: #004C88;
  --uz-dark: #363131;
  --uz-secondary: #00b4ef;
  --uz-white: #ffffff;
  --uz-frist: #4078bd;
  --uz-second: #e6bc38;
  --uz-text: #5F6065;

  --bg-color: #f7f7f7;
  --white: #ffffff;
  /* Fonts */
  --vf-font: "Nunito Sans", sans-serif;
}

/* ============ 
General
===============*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;
  font-family: var(--vf-font);
  background-color: var(--bg-color);
}



/* ============ 
 Scrollbar 
===============*/
/* Firefox */

* {
  scrollbar-width: 1px;
  scrollbar-color: var(--vf-primary) var(--uz-white);
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: var(--uz-white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--vf-primary);
  border-radius: 0px;
  border: 0px solid var(--uz-white);
}

/* ============ 
Left Menu
===============*/

.metismenu {
  padding: 0;
  margin-top: 50%;
}

.metismenu ul {
  padding: 0;
}

.metismenu ul li {
  list-style: none;
  width: 100%;
}

.nav-second-level li a,
.nav-thrid-level li a {
  padding: 8px 20px 8px 10px;
  color: var(--uz-white);
  display: block;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 1rem;
}

.nav-second-level li a:focus,
.nav-second-level li a:hover,
.nav-thrid-level li a:focus,
.nav-thrid-level li a:hover {
  color: var(--vf-primary);
}

.nav-second-level>li>a {
  padding-left: 68px;
}

.nav-second-level li.active>a {
  color: var(--vf-primary);
}

.nav-third-level>li>a {
  padding-left: 83px;
}

.nav-third-level li.active>a {
  color: var(--vf-primary);
}

.logo span.logo-lg h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.logo span.logo-lg .dash-color {
  color: #00b4ef;
  font-size: 20px;
  font-weight: 400;
}

.logo {
  display: block;
}

.logo span.logo-sm {
  display: none;
}

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.content-page {
  margin-left: 265px;
  overflow: hidden;
  padding: 5px 20px;
  min-height: 80vh;
  margin-top: 90px;
}

.left-side-menu {
  width: 265px;
  z-index: 10;
  background: var(--uz-main);
  bottom: 0;
  padding: 30px 0;
  position: fixed;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s cubic-bezier(0, 0.96, 1, 1);
  top: 93px;
  box-shadow: 0 3px 6px #00000029;
}

#sidebar-menu>ul>li>a {
  color: var(--uz-white);
  display: block;
  padding: 15px 10px;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-bottom: 8px;
}

.toggleBtn {
  background-color: #4e58b447;
  width: 212px;
  padding: 5px 14px;
  border-radius: 6px;
}

.toggleBtn>span {
  color: var(--uz-white);
  margin: 5px 0;
  border-right: 10px solid var(--vf-none);
  font-size: 13px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 17px;
}

#sidebar-menu li span {
  text-transform: capitalize;
}

#sidebar-menu>ul>li>a:hover,
#sidebar-menu>ul>li>a:focus,
#sidebar-menu>ul>li>a:active {
  color: var(--uz-white);
  background: rgba(0, 0, 0, 0.11);
  margin-left: 0px;
  text-decoration: none;
}

#sidebar-menu>ul>li>a.active {
  background: rgba(0, 0, 0, 0.11);
  margin-left: 0px;
  border-left: 10px solid var(--uz-second);
}

#sidebar-menu>ul>li>a>span {
  vertical-align: middle;
}

#sidebar-menu>ul>li>a img {
  margin-right: 5px;
}

#sidebar-menu>ul>li>a .drop-arrow {
  float: right;
}

#sidebar-menu>ul>li>a .drop-arrow i {
  margin-right: 0;
}

#sidebar-menu .menu-arrow {
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  position: absolute;
  right: 30px;
  display: inline-block;
  font-family: "Material Design Icons";
  text-rendering: auto;
  line-height: 1.5rem;
  font-size: 1.1rem;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#sidebar-menu .menu-arrow:before {
  content: "\F142";
}

#sidebar-menu .badge {
  margin-top: 4px;
}

#sidebar-menu li.active>a>span.menu-arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#sidebar-menu .menu-title {
  padding: 12px 30px;
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: var(--vf-gray);
}

.enlarged #wrapper .left-side-menu {
  position: absolute;
  padding-top: 0;
  width: 75px;
  position: fixed;
}

.enlarged #wrapper .left-side-menu .slimScrollDiv,
.enlarged #wrapper .left-side-menu .slimscroll-menu {
  overflow: inherit !important;
  height: auto !important;
}

.enlarged #wrapper .left-side-menu .slimScrollBar {
  visibility: hidden;
}

.enlarged #wrapper .left-side-menu #sidebar-menu .menu-title,
.enlarged #wrapper .left-side-menu #sidebar-menu .menu-arrow,
.enlarged #wrapper .left-side-menu #sidebar-menu .label,
.enlarged #wrapper .left-side-menu #sidebar-menu .badge,
.enlarged #wrapper .left-side-menu #sidebar-menu .collapse.in {
  display: none !important;
}

.enlarged #wrapper .left-side-menu #sidebar-menu .nav.collapse {
  height: inherit !important;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a {
  padding: 15px 20px;
  min-height: 56px;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a:hover,
.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a:active,
.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a:focus {
  color: var(--uz-white);
  border-right: 2px solid var(--vf-primary);
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a i {
  font-size: 1.125rem;
  margin-right: 20px;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a span {
  display: none;
  padding-left: 10px;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover>a {
  position: relative;
  width: 260px;
  color: var(--uz-white);
  background-color: var(--uz-main);
  border-right: 2px solid var(--vf-primary);
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover>a span {
  display: inline;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover a.open :after,
.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover a.active :after {
  display: none;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover>ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
  border-right: 2px solid var(--vf-primary);
  height: auto !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02),
    0 1px 0 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover>ul a {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 20px;
  position: relative;
  width: 190px;
  z-index: 6;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover>ul a:hover {
  color: var(--vf-primary);
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul ul {
  margin-top: -5px;
  padding: 5px 0;
  z-index: 9999;
  background-color: var(--uz-main);
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul ul li:hover>ul {
  display: block;
  left: 190px;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul ul li>a span.pull-right {
  position: absolute;
  right: 20px;
  top: 12px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul ul li.active a {
  color: var(--uz-white);
}

.enlarged #wrapper .help-box {
  display: none;
}

.enlarged #wrapper .content-page {
  margin-left: 70px;
}

.enlarged #wrapper .footer {
  left: 70px;
}

body.enlarged {
  min-height: 900px;
}

@media (max-width: 1024px) {
  .logo span.logo-lg {
    display: none;
  }

  .toggleBtn {
    display: none !important;
  }

  .logo span.logo-sm {
    display: block;
    line-height: 70px;
    color: var(--uz-white);
  }

  .enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a {
    padding: 15px 16px;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .left-side-menu {
    display: none;
    z-index: 10 !important;
  }

  .sidebar-enable .left-side-menu {
    display: block;
  }

  .navbar-nav.navbar-right {
    float: right;
  }

  .content-page {
    margin-left: 0 !important;
    margin-bottom: 20px;
  }

  .enlarged .left-side-menu {
    margin-left: -70px;
  }

  .logo span.logo-lg {
    display: block;
  }

  .logo span.logo-sm {
    display: none;
  }

  .pro-user-name {
    display: none;
  }

  #sidebar-menu>ul>li>a.active {
    width: 265px;
  }

  .enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a {
    padding: 15px 20px;
  }
}

@media (max-width: 425px) {
  .content-page {
    margin-top: 150px;
}
}

/* =============
  Small Menu
============= */

.left-side-menu-sm {
  width: 160px;
  text-align: center;
}

.left-side-menu-sm #sidebar-menu>ul>li>a>i {
  display: block;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  margin: 0;
}

.left-side-menu-sm #sidebar-menu>ul ul a {
  padding: 10px 20px;
}

.left-side-menu-sm .menu-arrow,
.left-side-menu-sm .badge {
  display: none !important;
}

.left-side-menu-sm+.content-page {
  margin-left: 160px;
}

.left-side-menu-sm+.content-page .footer {
  left: 160px;
}

.enlarged #wrapper .left-side-menu-sm {
  text-align: left;
}

.enlarged #wrapper .left-side-menu-sm ul li a i {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 15px;
  vertical-align: middle;
  width: 20px;
}

/* ============ 
Topbar
===============*/

.navbar-custom {
  padding: 16px 60px 16px 40px;
  background-color: var(--uz-white);
  -webkit-box-shadow: 0px 3px 8px 0 #0000001f;
  box-shadow: 0px 3px 8px 0 #0000001f;
  position: fixed;
  top: 0;
  z-index: 111;
  width: 100vw;
}

.navbar-custom .navbar-brand img {
  width: 100%;
  max-width: 180px;
}

.user-title {
  font-size: 18px;
  color: #6c6d6f;
  font-weight: 600;
}

.user-intro {
  color: #FFD200;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.account-setting {
  font-size: 18px;
  line-height: 30px;
  padding-right: 20px;
}

.account-setting .credit-text {
  font-size: 13px;
}

.account-setting .ammount {
  font-size: 22px;
}

.topbar-user {
  border-right: 2px solid #70707039;
  padding-right: 30px;
}

.navbar-custom .button-menu-mobile {
  border: none;
  color: var(--uz-main);
  display: inline-block;
  height: 70px;
  line-height: 70px;
  width: 60px;
  background-color: transparent;
  font-size: 32px;
  cursor: pointer;
}

.navbar-custom .button-menu-mobile.disable-btn {
  display: none;
}

/* Top Nav Menu */

.section-header-title {
  color: #646464;
  font-size: 20px;
  font-weight: normal;
}

.top-nav-menu {
  margin-left: 0;
}

.topbar-toggle-btn{
  color: #000;
  background: transparent;
  border: none;
  font-size: 30px;
}

.acccount-setting-drowdown {
    padding: 10px;
}


@media (max-width: 1080px) {
  .m-r {
    margin-bottom: 45px !important;
  }
  }

@media (max-width: 768px) {
  .navbar-custom .button-menu-mobile.disable-btn {
    display: inline-block;
  }
  .m-r {
    margin-bottom: 20px !important;
  }

  .navbar-custom .navbar-brand img {
    width: 100%;
    max-width: 140px;
  }

  .navbar-custom .button-menu-mobile {
    font-size: 36px;
  }

  .navbar-custom {
    padding: 25px 20px 25px 20px;
    align-items: center;
  }

  .topbar-user {
    margin-left: 10px;
  }

  .account-setting{
    /* padding-left: 50%; */
  }
}

@media (max-width: 320px) {
  .navbar-custom .navbar-brand img {
    width: 100%;
    max-width: 90px;
  }

  .topbar-user {
    padding-right: 10px;
  }

  .content-page {
    padding: 5px 0px;
  }

  .navbar-custom .button-menu-mobile {
    font-size: 30px;
  }
}

/* ============ 
Side Collapsible Menu CSS
===============*/
/*!
* metismenu - v2.7.7
* A jQuery menu plugin
*/

.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}

*[dir="rtl"] .metismenu .arrow {
  float: left;
}

/*
 * Require Bootstrap 3.x
 * https://github.com/twbs/bootstrap
*/

.metismenu .glyphicon.arrow:before {
  content: "\e079";
}

.metismenu .active>a>.glyphicon.arrow:before {
  content: "\e114";
}

/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

.metismenu .fa.arrow:before {
  content: "\f104";
}

.metismenu .active>a>.fa.arrow:before {
  content: "\f107";
}

/*
 * Require Ionicons
 * http://ionicons.com/
*/

.metismenu .ion.arrow:before {
  content: "\f3d2";
}

.metismenu .active>a>.ion.arrow:before {
  content: "\f3d0";
}

.metismenu .plus-times {
  float: right;
}

*[dir="rtl"] .metismenu .plus-times {
  float: left;
}

.metismenu .fa.plus-times:before {
  content: "\f067";
}

.metismenu .active>a>.fa.plus-times {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.metismenu .plus-minus {
  float: right;
}

*[dir="rtl"] .metismenu .plus-minus {
  float: left;
}

.metismenu .fa.plus-minus:before {
  content: "\f067";
}

.metismenu .active>a>.fa.plus-minus:before {
  content: "\f068";
}

.metismenu .collapse {
  display: none;
}

.metismenu .collapse.in {
  display: block;
}

.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
}

.metismenu .has-arrow {
  position: relative;
}

.metismenu .has-arrow::after {
  position: absolute;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 1em;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  top: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

*[dir="rtl"] .metismenu .has-arrow::after {
  right: auto;
  left: 1em;
  -webkit-transform: rotate(135deg) translate(0, -50%);
  transform: rotate(135deg) translate(0, -50%);
}

.metismenu .active>.has-arrow::after,
.metismenu .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  transform: rotate(-135deg) translate(0, -50%);
}

/* ============ 
Page Head
===============*/

.page-title-box .page-title {
  font-size: 18px;
  margin: 0;
  line-height: 75px;
  color: var(--uz-main);
}

.page-title-box .page-title-right {
  float: right;
  margin-top: 20px;
}

.page-title-box .breadcrumb {
  padding-top: 8px;
}

.page-title-box .breadcrumb-item.active {
  color: var(--vf-gray);
}

.page-title-box .breadcrumb-item a {
  color: var(--vf-primary);
}

.page-title-box .breadcrumb-item+.breadcrumb-item::before {
  color: (--vf-gray);
}

@media (max-width: 768px) {
  .page-title-box .page-title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 70px;
  }

  .page-title-box .breadcrumb {
    display: none;
  }
}

@media (max-width: 640px) {
  .page-title-box .page-title-right {
    display: none;
  }
}

@media (max-width: 419px) {
  .page-title-box .breadcrumb {
    display: none;
  }
}

/* ============ 
 Page Body
===============*/

.page-body {
  overflow: hidden;
  padding: 20px 0px 20px 20px;
  margin-left: 25px;
}

.page-body-inner .section {
  width: 100%;
  margin: 0px auto;
}

.devider {
  background-color: #70707050;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  position: relative;
}

.devider::before {
  content: '';
  position: absolute;
  background-color: #004C88;
  width: 256px;
  height: 5px;
  bottom: 0;
  left: 0px;
}

.content-box {
  padding: 40px 0;
}

.left-content,
.right-content {
  background: #c9c9c92d;
  border-radius: 27px;
  padding: 55px 40px 46px 40px;
  height: 100%;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
}

.left-content-middle {
  background: #c9c9c92d;
  border-radius: 24px;
  padding: 55px 40px 60px 40px !important;
  height: 110%;
}

.width-adjust-column {
  width: 33%;
  height: 100%;
}

.item {
  text-align: center;
  background: var(--white);
  padding: 40px 5px 25px 5px;
  height: 90%;
  border-radius: 20px;
  box-shadow: 0px 3px 4px 0px #00000014;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.order-item {
  background: var(--white);
}

.item-box {
  padding: 0 10px;
}

.content-desc {
  font-size: 14px;
  line-height: 20px;
  padding: 0 8px;
  font-weight: 400;
  color: var(--uz-text);
}

.content-title {
  font-size: 0.87rem;
  font-weight: 700;
  margin-top: 10px;
  line-height: 19px;
  text-transform: uppercase;
}

.content-title a {
  color: var(--uz-dark);
}

.content-box-image img {
  width: 67%;
  height: 100%;
}

@media (max-width: 1640px) {

  .left-content,
  .right-content {
    border-radius: 27px;
    padding: 35px 18px 15px 18px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
  }
}

@media (min-width: 1640px) {
  .item {
    height: 85%;
  }
}


@media (max-width: 1200px) {
  .content-title {
    font-size: 12px;
    line-height: 13px;
  }

}

@media (max-width: 1024px) {
  .content-box {
    padding: 20px 25px 30px 15px;
  }

  .left-content,
  .right-content {
    padding: 30px 12px 10px 12px;
  }

  .content-title {
    font-size: 12px;
    margin-top: 10px;
    line-height: 15px;
    text-transform: uppercase;
  }

  .content-desc {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {

  .left-content,
  .right-content {
    padding: 35px 25px 10px 25px;
    margin-bottom: 35px;
  }
}

@media (max-width: 1024px) {
  .content-title {
    font-size: 16px;
    line-height: 18px;
  }

  .content-desc {
    font-size: 18px;
    line-height: 18px;
  }
}

@media (max-width: 992px) {
  .item {
    height: 80%;
  }
}

@media (max-width: 768px) {
  .item {
    height: 100%;
  }

  .left-content,
  .right-content {
    background: #c9c9c92d;
    border-radius: 27px;
    padding: 40px 25px 15px 25px !important;
    height: 90%;
  }

  .item-box {
    margin-bottom: 20px ;
  }
}

@media (max-width: 560px) {

  .survay-width-adjus,
  .item-box {
    width: 100%;
  }
}


/* Booking Page start  */

.booking-item {
  text-align: center;
  background: var(--uz-second);
  border-radius: 16px;
  padding: 40px 4px;
}

.main-content {
  border-radius: 24px;
  padding: 60px 20px 60px 20px;
}

.booking-content-title {
  margin-top: 15px;
}

.booking-content-title a {
  color: var(--uz-text);
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

.main-content {
  border-radius: 24px;
  padding: 35px 16px 10px 16px;
}

/* This is Max Width  */
@media (max-width: 1024px) {
  .booking-content-title a {
    font-size: 14px;
  }
}

/* Admin role enquiry  */

.item-btn {
  font-size: 12px;
  border: 1px solid #482929;
  border-radius: 30px;
  padding: 5px 7px 5px 6px;
  display: inline;
  vertical-align: middle;
  transition: margin 0.2s ease-in-out;
  margin-top: 5;
}

.item-btn:hover {
  margin-top: -2px;
}

.content-title.text-center span {
  font-size: 7px;
}

.content-desc {
  font-size: 10px;
}

.item-btn:first-child {
  margin-right: 5px;
}

.content-box {
  padding: 50px 10px;
}

.left-content-2 {
  padding: 37px 15px 15px 15px;
}


.item-test-widget {
  text-align: center;
  background: var(--uz-gray);
  border-radius: 16px;
  padding: 15px 0;
}

.left-content-2 {
  /* background: #c9c9c92d; */
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
}

.m-r {
  margin-right: 50px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .row.margin-adjust {
    margin-right: -73px;
  }
}



.m-r-2 {
  margin-right: 50px;
}

@media (max-width: 505px) {
  .m-r-2 {
    margin-right: 0px;
  }

  .section-body {
    padding: 0px;
  }
}

